@import "../../styles/config.scss";
@import "../../styles/color.scss";
@import "../../styles/mixin.scss";

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax($max-width, $max-width) 1fr;
  grid-template-areas: "empty main sidebar";
  grid-auto-rows: max-content;
}

.article_container {
  grid-area: main;
}

.sidebar_container {
  grid-area: sidebar;
  height: max-content;
  position: sticky;
  top: 10px;
  padding-left: 20px;
}

.article {
  color: $black;
  background-color: $beige;
  padding: 40px;

  a {
    text-decoration: underline;

    &:hover {
      color: $orange;
    }
  }

  hr {
    margin: 20px 0;
  }
}

.commit_logs {
  @include centering($max-width);

  color: $black;
  background-color: $gray;
  margin-top: 40px;
  padding: 40px;

  summary {
    position: relative;
    padding: 4px 0;
    list-style: none;
    cursor: pointer;

    &::after {
      content: '+';
      opacity: 0;
      position: absolute;
      top: 45%;
      right: 30px;
      transform: translateY(-50%);
      transition: opacity 0.2s, transform 0.5s;
      font-size: 24px;
    }

    &:hover::after {
      opacity: 1;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  details[open] > summary::after {
    transform: translateY(-50%) rotate(45deg);
  }

  summary:hover,
  details[open] summary {
    background-color: $mos;
    color: $white;
  }
}

@media (max-width: 1200px) {
  .sidebar_container { display: none; }
}

@media (max-width: $break-tablet) {
  .container {
    display: block;
  }

  .article {
    padding: 10px 20px;
  }
}
