$black: #19191a;
$white: #ebdbb2;
$creamy: #fcf7ec;
$bg: $creamy;
$beige: #ddd4bb;
$gray: #adaa9b;
$mocha: #a89984;
$green: #98971a;
$mos: #3f4638;
$brown: #7c6f64;
$orange: #d79921;
$dark-cyan: #006a65;
$cyan: #458588;
$dark-red: #b1513b;
