@import "./color";

.remark-container {
  padding: 10px;

  &.info {
    background-color: $gray;
  }

  &.warn {
    background-color: $mocha;
  }

  &.danger {
    background-color: $orange;
  }

  .remark-container__title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
}
