// does not equal to colors defined in _colors.scss
$black: #282828;
$white: #ebdbb2;
$bg: #fcf7ec;
$fg2: #d5c4a1;
$bg2: #7c6f64;
$gray: #3c3836;
$lightGray: #a89984;
$red: #fb4934;
$green: #b8bb26;
$blue: #83a598;
$aqua: #8ec07c;
$yellow: #fabd2f;
$orange: #fe8019;

pre[class*="language-"],
code[class*="language-"] {
  color: $white;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
  text-shadow: none;
  background: $yellow;
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: $black;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #fbf1c7;
  background: #a89984;
}

/*********************************************************
 * Tokens
 */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.coord,
.token.punctuation {
  color: $lightGray;
}

.token.namespace {
  color: $orange;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.symbol {
  color: $green;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: $blue;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: $fg2;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.deleted {
  color: $red;
}

.token.class-name,
.token.constant {
  color: $yellow;
}

.token.regex,
.token.important,
.token.function,
.token.variable,
.token.inserted {
  color: $green;
}

.token.macro.property {
  color: $aqua;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.url-link {
  text-decoration: underline;
}

// git diff highlight
pre.language-git {
  .token.string {
    color: $white;
  }
}

pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

pre[class*="language-diff-"] .inserted-sign.inserted {
  width: 100%;
  display: table;
  background-color: rgba($green, 0.2);
}

pre[class*="language-diff-"] .deleted-sign.deleted {
  width: 100%;
  display: table;
  background-color: rgba($red, 0.2);
}

pre[data-file] {
  position: relative;

  &::before {
    content: attr(data-file);
    position: absolute;
    color: $lightGray;
    top: 0;
    right: 4px;
    opacity: 1;
  }

  &:hover::before {
    transition: 0.4s;
    opacity: 0;
  }
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #665c54;
  box-shadow: inset 5px 0 0 $orange;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid $gray;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span::before {
  content: counter(linenumber);
  color: $bg2;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

pre[class*="language-shell-session"] {
  position: relative;

  &::before {
    content: "terminal";
    position: absolute;
    color: $lightGray;
    top: 0;
    right: 4px;
  }

  span.shell-symbol {
    user-select: none;

    &::before {
      font-weight: normal;
      content: "koka@blog:~";
      color: $lightGray;
    }
  }
}

.remark-highlight + p > strong {
  // use it as figcaption
  margin: 0;
  display: block;
  color: $gray;
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
}
