@import "../../styles/config.scss";
@import "../../styles/color.scss";
@import "../../styles/mixin.scss";

.flex {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: $mos;
}

.posts {
  @include centering($max-width);

  color: $black;
}

@media (max-width: $break-tablet) {
  .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-left: 20px;
  }

  .posts {
    padding: 0 15px;
  }
}
