.container {
  margin-top: 40px;
  width: 100%;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr minmax(var(--max-width), var(--max-width)) 260px;
  grid-template-areas: "empty main sidebar";
  grid-auto-rows: max-content;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: sidebar;
  height: max-content;
  position: sticky;
  top: 10px;
  padding-left: 20px;
}

.article {
  width: 100%;
  color: var(--black);
  background-color: var(--beige);
  padding: 40px;
}

.article a {
  text-decoration: underline;
}

.article a:hover {
  color: var(--orange);
}

.article hr {
  margin: 20px 0;
}

.article__body {
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .aside {
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    margin-top: 10px;
    display: block;
    padding: 15px;
  }

  .article {
    padding: 20px;
  }
}
