@import "../../styles/config.scss";
@import "../../styles/color.scss";
@import "../../styles/mixin.scss";

.container {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax($max-width, $max-width) 1fr;
  grid-template-areas: "empty main sidebar";
  grid-auto-rows: max-content;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: sidebar;
  height: max-content;
  position: sticky;
  top: 10px;
  padding-left: 20px;
}

.article {
  color: $black;
  background-color: $beige;
  padding: 40px;

  a {
    text-decoration: underline;

    &:hover {
      color: $orange;
    }
  }

  hr {
    margin: 20px 0;
  }
}

@media (max-width: 1200px) {
  .aside { display: none; }
}

@media (max-width: $break-tablet) {
  .container {
    margin-top: 10px;
    display: block;
    padding: 15px;
  }

  .article {
    padding: 10px 20px;
  }
}
