@import "../styles/color.scss";
@import "../styles/config.scss";

.container {
  color: $black;
  margin-top: 40px;
}

.flex {
  display: flex;
}

.links_container {
  margin-top: 4px;
  display: flex;
  justify-content: space-around;
}

.profile_container,
.skills_container,
.projects_container,
.contact_container {
  padding: 40px;
  padding-top: 20px;

  a {
    text-decoration: underline;

    &:hover {
      color: $orange;
    }
  }
}

.profile_container {
  display: flex;
  background-color: $beige;
  padding-top: 40px;
}

.profile__main {
  padding: 0 40px;

  p,
  h2 {
    margin-top: 0;
  }
}

.skills_container {
  margin-top: 40px;
  background: $gray;
}

.projects_container {
  margin-top: 40px;
  background: $beige;
}

.contact_container {
  margin-top: 40px;
  color: $white;
  background: $mos;
}

.contact,
.skills {
  line-height: 1.5em;

  li + li {
    margin-top: 1em;
  }
}

@media (max-width: $break-tablet) {
  .container {
    margin-top: 25px;
  }

  .profile_container,
  .skills_container,
  .projects_container,
  .contact_container {
    margin: 15px;
    padding: 25px 15px;

    h1,
    h2 {
      margin-top: 0;
    }
  }
}
