@import "../styles/config.scss";
@import "../styles/color.scss";
@import "../styles/mixin.scss";

.navigation {
  @include centering($max-width);

  display: flex;
  margin-bottom: 40px;
  padding: 10px;
  color: $black;
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid $black;

  a:hover {
    color: $orange;
  }
}

.navigation__inner {
  @include centering($max-width);
}

@media (max-width: 980px) {
  .navigation {
    font-size: 1.3em;
    padding: 10px 20px;
  }
}
