@import "../styles/config.scss";
@import "../styles/color.scss";
@import "../styles/mixin.scss";
@import "../styles/animation.scss";

.navigation__container {
  @include centering($max-width);

  display: flex;
  margin-bottom: 40px;
  padding: 10px;
  color: $black;
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid $black;

  a:hover {
    color: $orange;

    &::after {
      content: '_';
      animation: cursor 1s infinite;
    }
  }
}

.navigation {
  @include centering($max-width);
}

@media (max-width: 980px) {
  .navigation__container {
    font-size: 1.3em;
    padding: 10px 20px;
    margin-bottom: 0;
  }
}
