.navigation__container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  display: flex;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
}

.navigation__container a:hover {
  color: var(--hover-color);
}

.navigation {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 900px) {
  .navigation__container {
    font-size: 1.3em;
    padding: 10px 20px;
  }
}
