@import "../styles/config.scss";
@import "../styles/color.scss";

.toc__nav {
  font-size: 0.9em;
  width: 100%;
  color: $gray;
  word-wrap: break-word;
}

.toc {
  list-style-type: none;
}

.toc__active {
  color: $black;
}

// .toc__h1 ... .toc__h3
@for $i from 1 through 3 {
  .toc__h#{$i} {
    margin-left: #{$i - 1}em;

    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}
