html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover {
  text-decoration: underline;
  &::before {
    // color: white;
    text-decoration: underline;
  }
}

h1 > a::before,
h2 > a::before,
h3 > a::before {
  content: "#";
  display: inline-block;
}
