@import "../../styles/color.scss";

.header__container {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.flex {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.post__title {
  font-size: 1.8em;
  text-decoration: none !important;
  font-weight: 600;
  line-height: 1.2em;

  &:hover {
    color: $orange;
  }
}

.post__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-end;

  .tags__icon {
    width: 1em;
    margin-right: 0.2em;
    color: $green;
  }
}

.post__dates {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
}

.header__container + .header__container {
  margin-top: 16px;
}
