@import "../../styles/config.scss";
@import "../../styles/color.scss";
@import "../../styles/mixin.scss";

.commit_logs {
  @include centering($max-width);

  color: $black;
  background-color: $gray;
  margin-top: 40px;
  padding: 10px 20px;

  summary {
    display: grid;
    position: relative;
    padding: 4px 12px;
    list-style: none;
    cursor: pointer;
    grid-template-columns: 24fr 12fr 64fr;
    grid-template-areas: "timestamp hash message";
    grid-auto-rows: max-content;

    .commit__message {
      grid-area: message;
    }

    .commit_hash {
      grid-area: hash;
    }

    .commit_date {
      grid-area: timestamp;
    }

    &::after {
      content: '+';
      opacity: 0;
      position: absolute;
      top: 45%;
      right: 30px;
      transform: translateY(-50%);
      transition: opacity 0.2s, transform 0.5s;
      font-size: 24px;
    }

    &:hover::after {
      opacity: 1;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  details[open] > summary::after {
    transform: translateY(-50%) rotate(45deg);
  }

  summary:hover,
  details[open] summary {
    background-color: $mos;
    color: $white;
  }
}

@media (max-width: $break-tablet) {
  .commit_logs {
    margin-top: 20px;

    summary {
      display: static;
      grid-template-columns: 1fr;
      grid-template-areas: "message";

      .commit__date,
      .commit__hash {
        display: none;
      }
    }
  }
}
