@import "../../styles/color.scss";

.tag {
  color: $white;
  background-color: $orange;
  padding: 0.2em 0.8em;
  border-radius: 0.3em;
  font-size: 0.8em;
  font-weight: 600;

  &:nth-child(1) {
    background-color: $orange;
  }

  &:nth-child(2) {
    background-color: $dark-red;
  }

  &:nth-child(3) {
    background-color: $dark-cyan;
  }

  &:nth-child(4) {
    background-color: $brown;
  }
}

.tag + .tag {
  margin-left: 0.5em;
}
